.Input {
  line-height: 40px;
  font-size: 24px;
  padding-left: 20px;
}

.btn-search {
  margin-left: -52px;
  border: none;
  background-color: #fff;
  height: 32px;
  width: 32px;
  vertical-align: text-bottom;
}
